*{
    margin:0px;
    padding:0px;
}

#content{
    border: 1px solid grey;
    padding:20px;
    margin:auto;
}

.td {
    padding-left:10px;
    padding-right:10px;
    border-right:1px solid black;
    border-bottom: 1px solid black;
}

.clickable
{
    cursor:pointer;
    color:blue;
}

a{
    text-decoration: none;
}

#activePage{
    text-decoration: underline;
}

#fileView{
    width: 350px;
    height: 250px;
    padding:20px;
    position: absolute;
    top:25%;
    left:37%;
    display:none;
    background-color: #8e8e8e;
    overflow-x: auto;


}
#fileView img{
    vertical-align:middle;
}
#preview
{
    color:red;
}